<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- BEGIN: StringPropertyReadingTests -->
    <add key="StringProperty" value="StringProperty test value" />
    <add key="ExistentOptionalProperty" value="ExistentOptionalProperty test value" />
    <add key="ExistentDefaultValueProperty" value="ExistentDefaultValueProperty test value" />
    <!-- END -->

    <!-- BEGIN: IntegerPropertyReadingTests -->
    <add key="IntegerProperty" value="4321" />
    <!-- END -->
  </appSettings>
</configuration>