<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StringProperty" value="StringProperty test value" />
    <add key="ExistentOptionalProperty" value="ExistentOptionalProperty test value" />
    <add key="ExistentDefaultValueProperty" value="ExistentDefaultValueProperty test value" />
    
    <add key="IntegerProperty" value="ExistentDefaultValueProperty test value" />
  </appSettings>
</configuration>